@import url(https://fonts.googleapis.com/css?family=Cousine:400,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Kosugi:400,700);

#toplogo {
  height: 30px;
  width: auto;
}

.topmenu-spacer {
  height: 70px;
}

.title-box {
  height: 20em;
}

#title-text {
  font-size: 2em;
  font-weight: 700;
  margin: 0.33em 0;
}

#test-api-list {
  /* runkit overwraps with this list, raise the z index */
  position: inherit;
  z-index: 1;
}

#test-api-list .selected-item {
  padding-right: 1em;
  border-right: solid #d40000ff;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0;
}

#test-api-list div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0;
}

#test-api-list div {
  margin: 0.6em 0;
  padding: 0.8em 0.4em 0.8em 0.4em;
  border-radius: 3px;
  cursor: pointer;
}

.features {
  background: rgb(255, 240, 238);
}

.feature-libraries {
  height: 80vh;
  background: rgb(218,156,255);
  background: linear-gradient(135deg, rgba(218,156,255,1) 0%, rgba(255,208,242,1) 100%); 
}


.feature-fire {
  background: rgb(255,141,0);
  background: linear-gradient(164deg, rgb(255, 141, 0) 0%, rgba(231,34,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-dollar {
  background: rgb(0,142,255);
  background: linear-gradient(164deg, rgba(26,221,28,1) 0%, rgba(0,142,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-book {
  background: rgb(245,36,239);
  background: linear-gradient(164deg, rgba(245,36,239,1) 0%, rgba(197,0,203,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-file {
  background: rgb(179,219,255);
  background: linear-gradient(164deg, rgba(179,219,255,1) 0%, rgba(16,0,203,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
