.bigger-text {
  font-size: 1.4em;
}

.normal-text {
  font-size: 1.25em;
}

#test-api-list {
  /* runkit overwraps with this list, raise the z index */
  position: inherit;
  z-index: 1;
}

#test-api-list .selected-item {
  padding-right: 1em;
  border-right: solid #d40000ff;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0;
}

#test-api-list div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0;
}

#test-api-list div {
  margin: 0.6em 0;
  padding: 0.8em 0.4em 0.8em 0.4em;
  border-radius: 3px;
  cursor: pointer;
}

.feature-fire {
  background: rgb(255,141,0);
  background: linear-gradient(164deg, rgba(255,141,0,1) 0%, rgba(231,34,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-dollar {
  background: rgb(0,142,255);
  background: linear-gradient(164deg, rgba(26,221,28,1) 0%, rgba(0,142,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-book {
  background: rgb(245,36,239);
  background: linear-gradient(164deg, rgba(245,36,239,1) 0%, rgba(197,0,203,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-file {
  background: rgb(179,219,255);
  background: linear-gradient(164deg, rgba(179,219,255,1) 0%, rgba(16,0,203,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
